<div style="padding: 2%; margin: auto; display: flex;">
<ion-card style="padding: 3%; margin-right: auto; " href="home" >
  <ion-card-header>
    <ion-item style="margin-right: auto;">
      <ion-avatar slot="start" style="margin-right: auto;">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" style="margin-left: auto;"/>
      </ion-avatar>
      <ion-label >Jose A</ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-subtitle>Nombre</ion-card-subtitle>
  <ion-card-content>
    Jose
  </ion-card-content>
  
    <ion-card-subtitle>Apellidos</ion-card-subtitle>
  
  <ion-card-content>
    Antonio <br>Gutierrez
  </ion-card-content>
  <ion-card-subtitle>Edad</ion-card-subtitle>
  <ion-card-content>
    21
  </ion-card-content>
</ion-card>
<ion-card style="padding: 3%; margin-right: auto;" href="home">
  <ion-card-header>
    <ion-item style="margin-right: auto;">
      <ion-avatar slot="start" style="margin-right: auto;">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" style="margin-left: auto;"/>
      </ion-avatar>
      <ion-label>Noel F</ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-subtitle>Nombre</ion-card-subtitle>
  <ion-card-content>
    Noel
  </ion-card-content>
  
    <ion-card-subtitle>Apellidos</ion-card-subtitle>
  
  <ion-card-content>
    Fernando <br>García
  </ion-card-content>
  <ion-card-subtitle>Edad</ion-card-subtitle>
  <ion-card-content>
    34
  </ion-card-content>
</ion-card>
<ion-card style="padding: 3%; margin-right: auto;" href="home">
  <ion-card-header>
    <ion-item style="margin-right: auto;">
      <ion-avatar slot="start" style="margin-right: auto;">
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" style="margin-left: auto;"/>
      </ion-avatar>
      <ion-label>Diego J</ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-subtitle>Nombre</ion-card-subtitle>
  <ion-card-content>
    Diego
  </ion-card-content>
  
    <ion-card-subtitle>Apellidos</ion-card-subtitle>
  
  <ion-card-content>
    Jesús <br>Rodríguez
  </ion-card-content>
  <ion-card-subtitle>Edad</ion-card-subtitle>
  <ion-card-content>
    23
  </ion-card-content>
</ion-card>
<ion-card style="padding: 3%; margin-right: auto;" href="home" >
  <ion-card-header>
    <ion-item style="margin: auto;">
      <ion-avatar slot="start" style="margin-right: auto;" >
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" style="margin-left: auto;"/>
      </ion-avatar>
      <ion-label>Pedro G</ion-label>
    </ion-item>
  </ion-card-header>
  <ion-card-subtitle>Nombre</ion-card-subtitle>
  <ion-card-content>
    Pedro
  </ion-card-content>
  
    <ion-card-subtitle>Apellidos</ion-card-subtitle>
  
  <ion-card-content>
    Gómez García
  </ion-card-content>
  <ion-card-subtitle>Edad</ion-card-subtitle>
  <ion-card-content>
    26
  </ion-card-content>
</ion-card>
</div>